@import '../../node_modules/grapesjs/src/styles/scss/main.scss';

// Components
@import './panels.scss';
@import './tooltips.scss';
@import './traits.scss';

html, body {
  margin: 0;
  height: 100%;
  font-family: Helvetica,sans-serif;
  font-size: .90rem;
}

.container {
  height: 100%;
  overflow: hidden;
}

.actions-bar {
  height: 45px;
  align-items: center;
  display: flex;
  justify-content: space-between; 

  > * {
    z-index: 4;
    background-color: transparent !important;
  }
}

.row {
  height: calc(100% - 45px);
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}

.column {
  min-height: 75px;
  flex-grow: 1;
  flex-basis: 100%;
  overflow: auto;
}

.column.left, .column.right {
  min-width: 200px;
  flex-basis: 500px;
  height: 100%;
}

.column.right {
  display: flex;
  flex-direction: column;
}

.column.right > * {
  display: block;
  width: 100%;
}

.editor-clm {
  display: flex;
  flex-direction: column;
}

.gjs-cv-canvas {
    width: 100%;
    height: 100%;
    top: 0;
}

.gjs-pn-btn {
  padding: 4px 8px;
}